/******************************************************************
Site Name: Schramm Farms
Author: Greg DiPietro

Stylesheet: Print Button


******************************************************************/

.printButton {
  position: absolute;
  top: -$unit;
  right: -$unit;
  height: $unit*3;
  width: $unit*3;
  line-height: $unit*3;
  background: $aqua;
  color: #FFF;
  font-size:14px;
  @include border-radius(50%);
  text-align: center;
  text-decoration: none;
  @include transition(background 0.2s ease-in-out);
  &:hover {
    background: darken($aqua, 5%);
    text-decoration: none;
  }
  i {
    line-height: $unit*3;
    line-height: $unit*3;
  }
}


.module_printForm {
    background: #FFF;
    border: 1px solid $grey;
    color: $body-color;
    display: inline-block;
    margin: 0  0 $unit 0;
    text-align: center;
    padding: $unit*2;
    img {
      margin:0 auto $unit auto;
      display: block;
      width: 67px;
      height: 86px;
      max-width:none;
      min-width:0;
    }

    &:hover {
      border: 1px solid darken($grey, 10%);
    }
  }