/******************************************************************
Site Name: Schramm Farms
Author: Greg DiPietro

Stylesheet: Link Module

If it has to do with the way LINKS work it'll be in here.

******************************************************************/

a {
  color: $link-color;
  @include transition(color, .75s $transition-timing );
  text-decoration:none;
  /* on hover */
  &:hover, &:focus {
    color: $yellow;
    outline: 0;
    text-decoration: underline;
  }
  /* on click */
  &:active {
    outline: 0;
  }
  &:active {
    color: $link-color;
  }
  &:link {
    -webkit-tap-highlight-color : darken($link-color, 10%);
  }
}


.blog-nav {
  margin-bottom: $unit*4;
  text-align: center;
  a {
    margin-right: $unit*2;
    border: 1px solid $body-color;
    border-radius: $unit;
    padding: $unit/2 $unit;
    &:hover {
      background: $body-color;
      color: $offWhite;
      text-decoration: none;
      transition:none;
    }
  }
}
